Proyecto 1/index.php
Proyecto 1/Config/conexion.php
Proyecto 1/Controllers/usuarios.controller.php
Proyecto 1/Docs/DDB.sql
Proyecto 1/Models/usuarios.model.php
Proyecto 1/Views/usuarios/usuario.model.js
Proyecto 1/Views/usuarios/usuarios.view.php
